--- 
import '@fontsource/poppins';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
	}

	html {
		@apply bg-light text-dark;
	}

	body {
		@apply min-h-full;
	}

	a:hover {
		@apply cursor-pointer;
	}
</style>
